<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Dating App</a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">

        <ng-container *ngIf="accountService.currentUser$ |async">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/members" routerLinkActive="active">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/" (click)="logout()">Logout</a>
          </li>
        </ng-container>

        <li class="nav-item">
          <a class="nav-link" routerLink="/errors"> errors</a>
        </li>

      </ul>

      <div ngbDropdown *ngIf="(accountService.currentUser$ | async) as user">
        <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>
          Welcome {{user.userName | titlecase}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownConfig">
          <button ngbDropdownItem>Edit Profile</button>

          <div class="dropdown-divider"></div>
          <button ngbDropdownItem>Logout</button>
        </div>
      </div>
      <form #loginForm="ngForm" class="form-inline mt-2" (ngSubmit)="login()" autocomplete="off"
        *ngIf="(accountService.currentUser$ | async) === undefined">
        <input name="username" [(ngModel)]="model.username" class="form-control ml-2" type="text"
          placeholder="Username" />
        <input name="password" [(ngModel)]="model.password" class="form-control ml-2" type="password"
          placeholder="Password" />
        <button class="ml-2 btn btn-outline-success" type="submit">
          Login
        </button>
      </form>
    </div>
  </div>
</nav>